@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&display=swap');
@import 'components/Grids.scss', 'components/Colors.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.center{
  justify-content:center;
  text-align: center;
}

